body {
    background-color: #F9FAFC;
    color: orange;

}

button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: orange;
    font-weight: 500;
    color: #222;


}


button:hover {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: grey;
    font-weight: 500;
    color: #222;


}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
}

hr {
    color: grey;
}

.username {
    color: orange;
    margin: 4px;

}

.main-bg {
    text-align: center;
}

.card-img-top {
    width: 80%;
    height: 80%;
}

.masthead-text {
    background-color: grey;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.review-link {
    text-decoration: none;
    color: grey
}

.review-link:hover,
.page-link {
    color: orange;
}

.review-title {
    margin-top: 20%;
    margin-left: 5%;
}

.review-subtitle {
    margin-left: 5%;
    color: orange;
}

.link {
    color: grey;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: grey;
    text-decoration: underline;
}

.btn-upvotes {
    color: grey;
    border: none;
    background: transparent;
}

.btn-upvotes:hover,
.btn-upvotes:active {
    color: orange;
    background: transparent;
    border: none;
}

.btn-downvotes {
    color: grey;
    border: none;
    background: transparent;
}

.btn-downvotes:hover,
.btn-downvotes:active {
    color: orange;
    background: transparent;
    border: none;
}


.textinput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

.form-control {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

.rev-det-1 {
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: -50px;

}



.rev-det-3{
    margin: 0;
    padding: 0;
    border: none;
    letter-spacing: -50px;

}