body {
    background-color: #F9FAFC;
    color: orange;
    font-family: 'Fredoka One', cursive;


}


button {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: orange;
    font-weight: 500;
    color: #222;


}


button:hover {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    min-width: 200px;
    height: 50px;
    font-size: 18px;
    background-color: grey;
    font-weight: 500;
    color: #222;
}

.adminbtn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    padding: 0 24px;
    border-radius: 50px;
    width: 20%;
    height: 50px;
    font-size: 18px;
    background-color: grey;
    font-weight: 500;
    color: #222;
}

.display-4 {
    text-align: center;
}

.lead {
    text-align: center;
    font-size: 125%;
    color: grey;
}

hr {
    color: grey;
}

.username {
    color: orange;
    margin: 4px;

}

.main-bg {
    text-align: center;
}

.card-img-top {
    width: 80%;
    height: 80%;
}

.masthead-text {
    background-color: grey;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.review-link {
    text-decoration: none;
    color: grey
}

.review-link:hover,
.page-link {
    color: orange;
}

.review-title {
    margin-top: 20%;
    margin-left: 5%;
}

.review-subtitle {
    margin-left: 5%;
    color: orange;
}

.link {
    color: grey;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: grey;
    text-decoration: underline;
}



.btn-upvotes {
    color: grey;
    border: none;
    background: transparent;
    padding: -50%;
}

.btn-upvotes:hover,
.btn-upvotes:active {
    color: orange;
    background: transparent;
    border: none;
}

.btn-downvotes {
    color: grey;
    border: none;
    background: transparent;
}

.btn-downvotes:hover,
.btn-downvotes:active {
    color: orange;
    background: transparent;
    border: none;
}


.textinput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

.form-control {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;

}

#id_email {
    display: none;

}
form p label {
    display: none;

}
#id_remember {
    display: none;

}


.votes-number {

    margin: 50%;
}



/* Medium devices (tablets, 768px and up) */
@media (min-width: 1000px) {
    .navbar-toggler {
        position: absolute;
        right: 20px;
    }



    /* Small devices (landscape phones, 576px and up) */
    @media (max-width: 400px) {
        .navbar-brand {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .navbar-brand span.brand span.thin {
            font-size: 150%;
        }

        .navbar-toggler {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

    }
}