{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}


<form method="POST" action="{% url 'edit_review' review.slug %}" class="form mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name != 'image' %}
            {{ field | as_crispy_field }}
        {% else %}
            {{ field }}
        {% endif %}
    {% endfor %}

    <hr>
    <div class="text-right">
        <button type="submit">Update Review</button>
    </div>
    <br>
    <div class="text-right">
        <button href="{% url 'home' %}">Cancel</button>
    </div>
</form>

{% endblock content %}

