{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- review title goes in these h1 tags -->
                <h1 class="review-title">{{ review.title }}</h1>
                <!-- review author goes before the | the review's created date goes after -->
                <p class="review-subtitle">{{ review.username }} | {{ review.publish_date }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- The featured image URL goes in the src attribute -->
                {% if "placeholder" in review.featured_image.url %}
                {% load static %}
                <img src="{% static 'default.jpg' %}" width="100%">
                {% else %}
                <img src=" {{ review.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">

            <div class="card-body">
                <!-- The review content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <h4>Description:</h4>
                <p class="card-text ">
                    {{ review.description | safe }}
                </p>
                <h4>Type:</h4>
                <p class="card-text ">
                    {{ review.type | safe }}
                </p>
                <br>
                <h4>Release Year:</h4>
                <p class="card-text ">
                    {{ review.release_year | safe }}
                </p>
                <br>
                <h4>Review:</h4>
                <p class="card-text ">
                    {{ review.review | safe }}
                </p>
                <br>
                <h4>Favourite Character:</h4>
                <p class="card-text ">
                    {{ review.fav_character | safe }}
                </p>

            <div class="votes-div">
                <strong>
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'review_upvotes' review.slug %}" method="POST">
                        {% csrf_token %}
                        {% if upvoted %}
                        <button type="submit" name="review_id" value="{{review.slug}}" class="btn-upvotes"><i
                                class="fa-sharp fa-solid fa-thumbs-up"></i></button>
                        {% else %}
                        <button type="submit" name="review_id" value="{{review.slug}}" class="btn-upvotes"><i
                                class="fa-regular fa-thumbs-up"></i></button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-regular fa-thumbs-up"></i></span>
                    {% endif %}
                    <span class="votes-number"> {{ review.number_of_upvotes }} </span>
                </strong>

         
            <br>
            
                <strong>
                {% if user.is_authenticated %}
                <form class="d-inline" action="{% url 'review_downvotes' review.slug %}" method="POST">
                    {% csrf_token %}
                    {% if upvoted %}
                    <button type="submit" name="review_id" value="{{review.slug}}" class="btn-downvotes"><i
                            class="fa-sharp fa-solid fa-thumbs-down"></i></button>
                    {% else %}
                    <button type="submit" name="review_id" value="{{review.slug}}" class="btn-downvotes"><i
                            class="fa-regular fa-thumbs-down"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span><i class="fa-regular fa-thumbs-down"></i></span>
                {% endif %}
                <span class="votes-number"> {{ review.number_of_downvotes }} </span>
                </strong>

            </div>


                <div class="row mt-4">
                    {% if request.user == review.username %}
                    <a href="{% url 'edit_review' review.slug %}"><button type="button">Edit
                            Review</button></a>
                    {% endif %}
                </div>
                <div class="row mt-4">
                    {% if request.user == review.username %}
                    <a href="{% url 'review_delete' review.slug %}"><button type="button">Delete Review</button></a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>


<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                    {{ comment.username }}
                    <span class=" text-muted font-weight-normal">
                        <!-- The comment's created date goes here -->
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <!-- The body of the comment goes before the | -->
                {{ comment.body | linebreaks }}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <br>
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
</div>

{% endblock content %}